parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests
    ignoreErrors:
        - identifier: missingType.iterableValue
        - message: '#Unreachable statement - code above always terminates#'
